# setting.config(UTF-8)

[token]

# 密码，明文/MD5,建议自己去MD5在线加密网站给密码加密,然后填到下面
# 明文例如：123456abcd
# MD5例如：efa224f8de55cb668cd01edbccdfc8a9

# 国家码，用于国外手机号登陆，国内为86
countrycode = 86


[setting]
# 接口API，开关的选项只有 True 和 False
# 如需使用本项目还请自行部署API，地址：https://github.com/ZainCheung/netease-cloud-api

# 密码是否需要MD5加密，如果是明文密码一定要打开
# true  需要, 则直接将你的密码（明文）填入PASSWORD的value里,程序会替你进行加密
# false 不需要, 那就自己计算出密码的MD5，然后填入secrets的PASSWORD的value里
md5Switch = false


# 企业微信机器人的密匙,不需要推送就留空 如需要推送需注册企业微信 如何获取企业微信机器人key自行百度
